config:
  service_account_file: # put absolute path to client_secret.json
  agent_image: /projects/ubuntu-os-cloud/global/images/ubuntu-1204-precise-v20150316
  scope: https://www.googleapis.com/auth/compute
  project: # put project name
  zone: us-central1-f
  network: testnetwork
  firewall: 
    name: testfirewall
    allowed: 
      - IPProtocol: tcp
        ports: 80
    sourceRanges: 
      - 0.0.0.0/0
