config:
  client_secret: /tmp/blueprint_resources/client_secret.json # put absolute path to client_secret.json
  agent_image: /projects/ubuntu-os-cloud/global/images/ubuntu-1204-precise-v20150316
  gcp_scope: https://www.googleapis.com/auth/compute,
  storage: /tmp/blueprint_resources/oauth.dat # put absolute path to oauth.dat
  project: # put project name
  zone: us-central1-f
  network: testnetwork
  firewall: 
    name: testfirewall
    allowed: 
      - IPProtocol: tcp
        ports: 80
    sourceRanges: 
      - 0.0.0.0/0
